<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="smoke">
    <classes>
      <class name="test.AssertionDemo"/>
      <class name="test.MyFirstSeleniumScript"/>
      <class name="test.OrangeHRM"/>
      <class name="test.HandleMultipleWindow"/>
      <class name="test.MyFirstTestNGTest"/>
      <class name="test.ReadingExcel"/>
      <class name="test.LoginTest"/>
      <class name="test.Task2"/>
      <class name="test.Task1"/>
      <class name="test.AlertDemo"/>
    </classes>
  </test> <!-- smoke -->
</suite> <!-- Suite -->
